html {
	height: 100%;
}

body {	
     padding: 0;
     background-image: url("../img/background.jpg");
	 background-repeat: no-repeat;
    background-attachment: cover;
    background-position: center; 
	background-size: 100% 100%;
	 font-family: 'Segoe UI', sans-serif;
	 height: 100%;
}

.header {
	position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 90%;
	background-color: #232323;
    text-align:center;
}

.p1 {
	color: #FFFFFF;
	font-size: 20px;
	margin-top: 5px;
	margin-bottom: 2px;
	text-transform: uppercase;
	font-weight: bold;
    position: center;
}

.p2 {
	color: #01B0F1;
	font-size: 14px;
	margin-top: 0;	
}

.border h2 {
	font-size: 20px;
    color: #FFFFFF;
	text-transform: uppercase;
	font-weight: bold;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.standard {
	position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 50%;
    text-align:center;
	border-bottom: 1px solid #FFFFFF;
}

.standard h2 {
	top: 50%;
}

.creative {
	position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    bottom: 0;
    text-align:center;
    color:#FFFFFF;
}

.creative h2 {
	top: 50%;
}

.logo-center {
    position: absolute;
    left: 34%;
    top: 40%;
    z-index: -1;
	height: 150px;
}

.logo-header {
	position: absolute;
    /* z-index: -1; */
	left: 20px;
	top: 10px;
	height: 55px;
}
