html {
	height: 100%;
}

body {	
     padding: 0;
    background-color: #232323;
	 font-family: 'Segoe UI', sans-serif;
	 color: white;
	 height: 100%;
}

.header {
	position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 90%;
	background-image: url("../img/background.jpg");
	background-position: center;
    text-align:center;
}

.p1 {
	color: #FFFFFF;
	font-size: 20px;
	margin-top: 5px;
	margin-bottom: 2px;
	text-transform: uppercase;
	font-weight: bold;
    position: center;
}

.p2 {
	color: #FFFFFF;
	font-size: 14px;
	margin-top: 0;	
}

.border h2 {
	font-size: 20px;
    color: white;
	text-transform: uppercase;
	font-weight: bold;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.logo-center {
    position: absolute;
    left: 34%;
    top: 40%;
    z-index: -1;
	height: 150px;
}

.logo-header {
	position: absolute;
	left: 20px;
	top: 5px;
	height: 50px;	
}

.colorpicker {
	margin-top: 100px;
	width: 70%;
	display: block;
    margin-left: 20%;
    margin-right: 20%;
}

.instruction {
	margin: 25px 0px 25px 0px;
}

.dot {
  height: 50px;
  width: 50px;
  background-color: #FFFFFF;
  border-radius: 50%;
  display: inline-block;
  margin: 10px;
}
