:root {
  --grey: #232323;
  --white: #FFFFFF;
  --lightBlue: #01B0F1;
  --purple: #AD5FFF;
  --lightGray: #D1D1D1;
  --darkBlue: #5B49AF;
  --blue: #4A5DBC;
  --lightBlue2: #2287D7;
  --lightBlue3: #0BA2E7;
  --turquoise: #1AFBF3;
  --blue: #39C2FF;
  --yellow: #FFEB3C;
  --orange: #F6A80D;
}

html {
    overflow: hidden;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--grey);
  font-family: 'Segoe UI', sans-serif;
  color: var(--white);
  height: 100%;
  width: 100%;
}

.border {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 500px;
  height: 100%;
  transform: translateX(-50%) translateY(-50%);
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 90%;
  background-image: url("../img/background.jpg");
  background-position: center;
  text-align: center;
}

.content {
  margin-top: 30%;
}

.content p {
  text-align: left;
  margin-left: 10%;
}

.p1 {
  color: var(--white);
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 2px;
  text-transform: uppercase;
  font-weight: bold;
  position: center;
}

.p2 {
  color: var(--white);
  font-size: 14px;
  margin-top: 0;
}

.border h2 {
  font-size: 20px;
  color: var(--white);
  text-transform: uppercase;
  font-weight: bold;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.logo-header {
  position: absolute;
  left: 20px;
  top: 5px;
  height: 50px;
}

.dot {
  height: 50px;
  width: 50px;
  background-color: var(--white);
  border-radius: 50%;
  display: inline-block;
  margin: 10px;
}

#dot1 {
  border: 3px solid var(--lightBlue);
  text-align: center;
  color: var(--grey);
}

#dot2 {
  text-align: center;
  color: var(--grey);
}

#dot3 {
  text-align: center;
  color: var(--grey);
}

#dot4 {
  text-align: center;
  color: var(--grey);
}

#dot5 {
  background-color: var(--turquoise);
}

#dot6 {
  background-color: var(--blue);
}

#dot7 {
background-color: var(--yellow);
}

#dot8 {
  background-color: var(--orange);
}

.backIcon {
  width: 20px;
  height: 20px;
  transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
}
