body {
     /* margin: 20px; */
     padding: 0;
     background-color: #232323;
}

.container {
    position: relative;
    text-align: center;
    color: #FFFFFF;
}

.container img {
	width: 80%;
	max-width: 400px;
	left: 50%;
	top: 50px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centered h1 {
	color: #FFFFFF;
	font-weight: bold;
	font-size: 50px;
	font-family: 'Segoe UI', sans-serif;
	
}

 .welcomebox h3{
     font-family: 'Segoe UI', sans-serif;
	 font-weight: lighter;
     text-align: center;
	 margin-top: 0px;
	 text-align: center;
}
 .welcomebox {
	width: 100%;
	background: transparent;
	color: #fff;
	position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center {
	text-align: center;
margin-top: 10px;
margin-bottom: 10px;
	}

 .button {
	 display: block;
     width: 80%;
	 max-width: 300px;
     height: 40px;
     margin: auto;
     padding: 12px 12px;
     cursor: pointer;
     text-align: center;
     text-transform: capitalize;
	 text-decoration: none;
     border: 0 none;
     border-radius: 5px;
     justify-content: center;
     align-items: center;
     flex: 0 0 160px;
	 box-shadow: 5px 5px 10px #000;
	 font-size: 16px;
	 -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;  
}

 .signUp {
     color: #FFFFFF;
     background-color: #01B0F1;
}
 .signIn {
     background: #FFFFFF;
	 color: #232323;
	 margin-top: 50px;
}