body {
     margin-top: 30%;
     padding: 0;
     background-color: #232323;
	 font-family: 'Segoe UI', sans-serif;
}

.border h1 {
	font-size: 40px;
    color: #01B0F1;
	text-transform: uppercase;
	font-weight: normal;
}

.border h3 {
	color: #FFFFFF;
	font-weight: lighter;
}

/* .border img { */
	/* width: 30%; */
	/* margin-top: 20px; */
/* } */

.arrow {
	width: 8%;
}

.logo {
    position: absolute;
    top: 50%;
    left: auto;
	right: auto;
    width: 50%;
    margin: -50px 0 0 -85px;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
