:root {
  --grey: #232323;
  --white: #FFFFFF;
  --lightBlue: #01B0F1;
  --purple: #AD5FFF;
  --lightGray: #D1D1D1;
  --darkBlue: #5B49AF;
  --blue: #4A5DBC;
  --lightBlue2: #2287D7;
  --lightBlue3: #0BA2E7;
  --turquoise: #1AFBF3;
  --blue: #39C2FF;
  --yellow: #FFEB3C;
  --orange: #F6A80D;
}

html {
  height: 100%;
}

body {
  padding: 0;
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-attachment: cover;
  background-position: center;
  background-size: 100% 100%;
  font-family: 'Segoe UI', sans-serif;
  height: 100%;
}

.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 90%;
  background-color: var(--grey);
  text-align: center;
}

.p1 {
  color: var(--white);
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 2px;
  text-transform: uppercase;
  font-weight: bold;
  position: center;
}

.p2 {
  color: var(--lightBlue);
  font-size: 14px;
  margin-top: 0;
}

.border h2 {
  font-size: 20px;
  color: var(--white);
  text-transform: uppercase;
  font-weight: bold;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.standard {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 50%;
  text-align: center;
  /* border-bottom: 1px solid var(--white); */
}

.standard h2 {
  top: 50%;
}

.creative {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  bottom: 0;
  text-align: center;
  color: var(--white);
}

.creative h2 {
  top: 50%;
}

.logo-center {
  /* position: block; */
  /* margin-left: auto; */
  /* margin-right: auto; */
  /* margin-top: 70 %;  */
  /* z-index: -1; */
  height: 120px;
  position: absolute;
  top: 40%;
  left: 35%;
}

.logo-header {
  position: absolute;
  /* z-index: -1; */
  left: 20px;
  top: 8px;
  height: 55px;
}

/* .hr { */
/* overflow: hidden; */
/* position: relative;  */
/* text-align: center;  */
/* }  */
.hr::before, .hr::after {
  background-color: var(--white);
  content: '';
  display: inline-block;
  height: 1px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.hr::before {
  left: calc(50% + 60px);
}

.hr::after {
  right: calc(50% + 60px);
}

.hr .icon {
  background-color: transparent;
  color: var(--white);
  display: inline-block;
  font-family: FontAwesome;
  font-size: 2em;
}
