:root {
  --grey: #232323;
  --white: #FFFFFF;
  --lightBlue: #01B0F1;
  --purple: #AD5FFF;
  --lightGray: #D1D1D1;
  --darkBlue: #5B49AF;
  --blue: #4A5DBC;
  --lightBlue2: #2287D7;
  --lightBlue3: #0BA2E7;
  --turquoise: #1AFBF3;
  --blue: #39C2FF;
  --yellow: #FFEB3C;
  --orange: #F6A80D;
}

body {
  margin-top: 30%;
  padding: 0;
  background-color: var(--grey);
  font-family: 'Segoe UI', sans-serif;
}

.border {
  width: 80%;
  height: 100%;
}

.container {
  position: relative;
  text-align: center;
  color: var(--white);
  margin-bottom: 30px;
}

.container img {
  width: 40%;
  left: 50%;
  top: 80px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered h1 {
  color: var(--lightBlue);
  font-weight: normal;
  font-size: 16px;
  font-family: 'Segoe UI', sans-serif;
}

.loginbox {
  background: transparent;
  color: var(--white);
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loginbox input {
  width: 50%;
  margin-bottom: 20px;
  padding: 20;
}

input[type=text] {
  width: 80%;
  max-width: 300px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid var(--grey);
  border-radius: 4px;
  box-sizing: border-box;
  background-color: var(--lightGray);
}

.button {
  display: block;
  width: 80%;
  max-width: 300px;
  height: 40px;
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 12px 12px;
  cursor: pointer;
  text-align: center;
  text-transform: capitalize;
  text-decoration: none;
  border: 0 none;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  flex: 0 0 160px;
  box-shadow: 5px 5px 10px var(--grey);
  font-size: 16px;
  color: var(--white);
  background-color: var(--lightBlue);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.remember {
  margin-bottom: 30px;
}

.remember label {
  float: left;
  color: var(--lightGray);
}

.remember a {
  color: var(--turquoise);
  /* float: right; */
}

.hr {
  border-color: var(--lightGray);
  width: 100%;
}
